<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <%- include('../resume/basics'); %>

  <%- include('../resume/objective'); %>

  <div class="resume-skills-group">

    <div class="resume-skills-group-item">
      <%- include('../resume/specialties'); %>
    </div>
    <div class="resume-skills-group-item">
      <%- include('../resume/skills'); %>
    </div>
    
  </div>


  <%- include('../resume/experience'); %>
</main>   

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>