<div class="resume-basics">
    <h1><%= resume.basics.name %></h1>
    <% if (resume.basics.tagline) { %>
        <div class="resume-tagline-text">
            <%= resume.basics.tagline %>
        </div>
    <% } %>

    <div class="resume-contacts">
        
        <% if (resume.basics.email) { %>
            <div class="resume-contact-link">
                <a href="mailto:<%= resume.basics.email %>" class="visible-link" target="_blank">
                    <%= resume.basics.email %>
                </a>
            </div>
        <% } %>

        <% resume.basics.social.forEach(function(social) { %>
            <div class="resume-contact-link">
                <a href="https://<%= social %>" class="visible-link" target="_blank">
                    <%= social %>
                </a>
            </div>
        <% }); %>

        <% if (resume.basics.phone) { %>
            <div class="resume-contact-text">
                <%= resume.basics.phone %>
            </div>
        <% } %>

        <% if (resume.basics.location) { %>
            <div class="resume-tagline-text">
                <%= resume.basics.location %>
            </div>
        <% } %>

    </div>
</div>