<div class="resume-basics">

    <% if (!printable) { %>
        <% if (resume.basics.photo && resume.basics.photo.length > 0) { %>
            <div class="resume-photo">
                <img src="/img?path=<%= resume.basics.photo %>" />
            </div>
        <% } %>
    <% } %>

    <h1><%= resume.basics.name %></h1>
    <% if (resume.basics.tagline && resume.basics.tagline.length > 0) { %>
        <div class="resume-tagline-text">
            <%= resume.basics.tagline %>
        </div>
    <% } %>

    <div class="resume-contacts">
        
        <% if (resume.basics.email && resume.basics.email.length > 0) { %>
            <div class="resume-contact-link">
                <a href="mailto:<%= resume.basics.email %>" class="visible-link" target="_blank">
                    <%= resume.basics.email %>
                </a>
            </div>
        <% } %>

        <% resume.basics.social.forEach(function(social) { %>
            <div class="resume-contact-link">
                <a href="https://<%= social %>" class="visible-link" target="_blank">
                    <%= social %>
                </a>
            </div>
        <% }); %>

        <% if (resume.basics.phone && resume.basics.phone.length > 0) { %>
            <div class="resume-contact-text">
                <%= resume.basics.phone %>
            </div>
        <% } %>

        <% if (resume.basics.location && resume.basics.location.length > 0) { %>
            <div class="resume-contact-text">
                <%= resume.basics.location %>
            </div>
        <% } %>

    </div>
</div>