<%- include('./basics'); %>

<%- include('./objective'); %>

<div class="resume-skills-group">

  <div class="resume-skills-group-item">
    <%- include('./specialties'); %>
  </div>
  <div class="resume-skills-group-item">
    <%- include('./skills'); %>
  </div>
  
</div>

<%- include('./experience'); %>